body {
    background-image: url("../images/background.png")
}
h1 {
    text-align: center;
    font-size: 35px;
    font-style: bold;
    padding-top: 5px;
}

h3 {
    text-align: center;
}
button, div, form, input {
    margin: 10px;
}
#add-topic {
    background-color: steelblue;
    color: whitesmoke;
}
.directions {
    border-bottom: 5px darkslategray ridge;
    padding-bottom: 10px;
    color: slategrey;
}
.topics {
    border-right: 2px darkslategray ridge;
    border-bottom: 2px slategray outset;
    float: left;
    width: 25%;
    height: 100%;
}
.display-area {
    width: 100%;
}
.gif-Display {
    border: 1px seagreen dashed;
    position: relative;
    float: left;
    padding: 3px;
    color: slategray;
}

@media screen and (max-width: 980px) {
    .topics {
        width: 245px;
    }
    #topic-input {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .topics {
        width: 97%;
        border-right: none;
    }
    #topic-input {
        width: 35%;
    }
}